<% layout('layouts/boilerplate') %>
<h1>Welcome to a members only message board</h1>
<% if (!currentUser) { %>
    <div>Sign up or login over there...</div>

<% } else if (currentUser) {%>
    <div>Congrats, you're in. Base tier users can only watch, go upgrade to participate.</div>
<% } %>
<% for( message of messages ) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <a href="/messages/<%= message._id %>">
                        <h5 class="card-title">
                            <%= message.title %>
                        </h5>
                        <% if (currentUser?.tier === 'admin' || currentUser?.tier === 'member') { %>
                            <div class="card-text text-muted">
                                <%= message.author.email %>
                            </div>
                        <% } %>
                        <div class="card-text">
                            <%= message.content %>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
 <% } %>