<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="needs-validation" novalidate oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Passwords do not match." : "")'>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" minlength="6" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Password must be atleast 6 chars long</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="passwordConfirm">Confirm Password</label>
                                <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Passwords does not match</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="firstname">First name</label>
                                <input class="form-control" type="firstname" id="firstname" name="firstname" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="lastname">Last name</label>
                                <input class="form-control" type="lastname" id="lastname" name="lastname" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success ">Register</button>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
    </div>